body {
    background-color: #434343;
    color: antiquewhite;
}
.pokedex {
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto;

    min-width: 700px;
    min-height: 700px;
}
.entry {
    /* background-color: aquamarine; */
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}