<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oh No 🙀 - Pokédex Colors! 🌈</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='sad_piplup.gif') }}" alt="piplup is sad because there was an error">
    <h4>piplup is sad because there was an error</h4>
    <a href="/"><h1>Go home 🏡</h1></a>
</body>
</html>